#input_section {
    background: lightblue;
    margin: 25px 20% 0px 20%; /* top, right, bottom, left */
    height: 100%;
}

#input_form {
    margin-left: 5%;
    padding: 25px 0px 25px 0px; /* top, right, bottom, left */
}
/*
#input {
	text-align: left;
    margin-top: 50px;  
    margin-left: 25%;
}

#button {
    margin-top: 10px;
}
*/