#container {
	background-color: lightblue;
	height: 800px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.row {
	background-color: pink;
	height: 200px;
	border-bottom: 1px solid black;
	padding-left: 50px;
	padding-right: 50px;
}

.slot {
	height: 100%;
	width: 33%;
	background-color: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	float: left;
	text-align: center;
}

.slot a {
	margin-top: 80px;
	display: block;
}