#container {
	background-color: lightblue;
	height: 2000px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#row {
	margin: 0 50px 0px 50px; /* top, right, bottom, left */
}

.slot {
	height: 400px;
	width: 25%;
	background-color: white;
	outline: 1px black solid;
	float: left;
	text-align: center;
}