body{
	margin:0;
}

h1{
	color:orange;
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
}

#navigation{
	/* Uses to remove link color and more */
	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	overflow: hidden;
	  
	/* Uses to space between the links */
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
}

#navigation li{
	/* Uses to remove link color and more */
	display: inline;

	/* Uses to space between the links */
	width: 100%;
	height: 45px;
	text-align: center;
}

#navigation a{
	/* Uses to remove link color and more */
	color: inherit;
	font-size: 35px; 
}

a:link {
	/* Uses to remove link color and more */
  	text-decoration: none;
}

a:visited {
	/* Uses to remove link color and more */
  	text-decoration: none;
}

a:hover {
	/* Uses to remove link color and more */
  	cursor: pointer;
}

a:active {
	/* Uses to remove link color and more */
  	text-decoration: underline;
}