body, html{
    width: 100%;
  height: 110%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: wheat;
  /* background-color: #ededed; */
  }

/* @media (min-width: 480px) {
  .Mobile {
    display: none;
  }
}

@media (max-width: 480px) {
  .PC {
    display: none;
  }
} */

@media (min-width: 0px) {
  .Mobile {
    display: none;
  }
}

@media (max-width: 0px) {
  .PC {
    display: none;
  }
}



/* Start page */

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #181A1E;
}

.custom-button {
  /* border: 4px solid 274A4D blue; */
  /* background-color: #2E2F38; */
  padding: 10px 20px; /* Adjust the padding according to your needs */
  font-size: 16px; /* Adjust the font size according to your needs */
  color: #274A4D;
  font-weight: 400;
  border-radius: 8px;
}

#myRole, .title, .standardtext {
  font-family: 'Pragati Narrow', sans-serif;
  letter-spacing: 0.025em;
  
}

#myName{
  font-size: 100px;
  font-family: 'Sacramento', cursive;
}

#myRole{
  font-size: 20px;
  letter-spacing: 0.3em;
}

.starttitletext {
  padding: 0.01em 0;
  color: white;
}

.title {
  font-size: 35;
}

.arrow,
.arrow:before
{
  position: absolute;
  left: 50%;
}

.arrow
{
  width: 40px;
  height: 40px;
  top: 75%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
  
.arrow:before
{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}




/* Main content */

#content-container {
  background-color: #fafafa;
  height: 100%;
  width: 75%;
  padding-left: 5%;
  padding-top: 2.5%;
  margin: 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.container {
  height: 100%;
  display: block;
}

#container-BrowseProjects {
  height: 100%;
  /* background-color: #181a1e; */
}

#container-Projects {
  display: flex;
  flex-wrap: wrap;

  /* justify-content: space-evenly; */
  /* padding: 0px 30px 0px 10px ; */
}

.linkToProject {
  border-bottom: 5px solid black;
  border-bottom-width: thin;
  margin-top: 30px;
  padding-bottom: 30px;
}

.project-container {
  /* margin: 20px 20px 0 20px; */
  /* padding-top: 10px; */
  /* border-width: 1px; */
  /* border-radius: 25px; */
  /* width: 800px; */
  /* height: 500px; */
  /* float: left; */
  /* margin: 10px 10px 10px 10px;  */
  /* box-sizing: border-box; */
  margin: 0 60px 0 30px;
}

.tags {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  
}

.tag {
  
  margin-right: 8px;
  border: 0 solid wheat;
  border-width: thin; 
  border-radius: 9999px;
  padding: 5px;
  background-color: wheat;
  box-sizing: border-box;
  
  font-size: 15px;
}

#aboutme {
  margin-bottom: 40px;
}

.standardtext {
  text-align: left;
  /* font-family: 'Optimistic Text Medium', Helvetica, Arial, sans-serif; */
  font-weight: normal;
  font-size: 25;
  
  line-height: 130%;
}

p {
  color: black;
  margin: 0;
}
  
a {
	color: black;
}

a:link {
	/* Uses to remove link color and more */
  	text-decoration: none;
}

a:visited {
	/* Uses to remove link color and more */
  	text-decoration: none;
}

a:hover {
	/* Uses to remove link color and more */
  	cursor: pointer;
}

a:active {
	/* Uses to remove link color and more */
  	text-decoration: underline;
}



/* .navbar-container-mobile {
  width: 100%;
  bottom: 0;
  position: fixed;
  border-top: solid;
}

.navbar-box {
  display: inline-block;
  width: 33%;
  text-align: center;
  font-size: 5vw;
  margin:10 0 10 0 ;
}

.navbar-box p {
  margin: 0;
} */