body{
	margin: 0;
	background-color: gray;
}

h2, a, p {
	font-family: Segoe UI;
}

footer p{
	position: fixed;
   	bottom: 0;
  	width: 100%;
  	text-align: center;
}

a {
	color: black;
}

a:link {
	/* Uses to remove link color and more */
  	text-decoration: none;
}

a:visited {
	/* Uses to remove link color and more */
  	text-decoration: none;
}

a:hover {
	/* Uses to remove link color and more */
  	cursor: pointer;
}

a:active {
	/* Uses to remove link color and more */
  	text-decoration: underline;
}