#headerText{
	margin-bottom: 50px;
	text-align: center;
}

#navigation {
	  
	/* Uses to space between the links */
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
    
}	

#navigation li {
	/* Uses to remove link color and more */
	display: inline;

	/* Uses to space between the links */
	width: 100%;
	text-align: center;
	padding: 20px 0px 25px 0px;
	background-color: lightgray;
	
}

#navigation a {
	/* Uses to remove link color and more */
	font-size: 50px; 
	font-weight: 600;
}

#navigation li:hover {
	/* Uses to remove link color and more */
	background-color: gray;
}

#login a {
	font-size: 15px; 
	margin-right: 5px;
}

#login a:hover {
	font-size: 15px; 
	margin-right: 5px;
	color: black;
}