#main {
	text-align: center;
}

#startPageBox {
	padding-top: 0;
	height: 100%;
	width: 100%;
	
}

#headerText h2, p{
}

#headerText p{
}

#headerText {
	
}

#mainPic {
	padding: 0 25% 0 25%;
	background-color: white;
	background-color: rgb(241, 241, 241);
}