@{
    ViewData["Title"] = "Home Page";
}

<div id=header>
    <h2>Hejsan och varmt vällkomen till min showcase webbsida!</h2>
    <p>
    Denna webbsida är till för att vissa minakunskaper inom Html, css, script och även databaser. 
    Ovan ser du en menybar där du kan klicka runt till mina olika projekt eller bilder på projekt 
    och skiser. Du kan även testa mina databasser igenom att skapa ett konto eller logga in med användarnamn "abc" och lösenord "123".
    </p>
</div>

