@{
    ViewData["Title"] = "Project Page";
}

<section id=header>
    <h2> Vällkomen till mina projekt! </h2>
    <p> Här kan du kolla igenom alla mina små till stora projekt. Det kan vara allt ifrån en miniräknare till animation</p>
    <p> Tips på vilka program du kan använda för att köra mina projekt finns här: Tips!</p>
</section>


<div id="test">
    <div id="row">
        <div class="slot">
            <a href="projekt_bibliotek/java_bibliotek/java_bibliotek.html" class="link_project">Biblotekssystem i java</a>
            <a href="../../projekt_bibliotek/java_bibliotek/java_bibliotek.java" download class="link_download">Ladda ner projekt</a>
        </div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
    </div>
</div>